[submodule "Firmware/vendor/CMSIS"]
	path = Firmware/vendor/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "Firmware/vendor/CMSIS_5"]
	path = Firmware/vendor/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "Firmware/vendor/cmsis-device-wl"]
	path = Firmware/vendor/cmsis-device-wl
	url = https://github.com/STMicroelectronics/cmsis-device-wl.git
[submodule "Firmware/vendor/stm32wlxx-hal-driver"]
	path = Firmware/vendor/stm32wlxx-hal-driver
	url = https://github.com/STMicroelectronics/stm32wlxx-hal-driver.git
